$color--text1: #969696;
$color--text2: #333333;
$color--text3: #017389;

$color--background: #F5F5F5;
$color-primary: transparent linear-gradient(90deg, #234B86 0%, #106087 57%, #017389 100%) 0% 0% no-repeat padding-box;

$color--light: #ffffff;