$color--text1: #969696;
$color--text2: #333333;
$color--text3: #017389;

$color--background: #F5F5F5;
$color--border: #CCCCCC;
$color--active: #1A3865;
$color-primary: linear-gradient(90deg,#234b86,#017389);

$color--light: #ffffff;