$color--text1: #969696;
$color--text2: #333333;
$color--text3: #017389;
$color--text4: #D3CB2C;
$color--text5: #1762FF;

$color--background: #F5F5F5;
$color--background1: #F9F9F9;
$color--border: #CCCCCC;
$color--border1: #EBEBEB;
$color--active: #1A3865;
$color--active1: #D3DBE7;
$color-primary: linear-gradient(90deg,#234b86,#017389);
$color--button-primary: #234B86;

$color--yellow: #D3CB2C;
$color--light: #ffffff;
$color--dark: #000000;
$color--blue: #234B86;
$color--blue1: #0072D8;
$color--orange1: #D75533;
$color--pink: #F9386A;
$color--orange: #FFA300;

$color--dark_40: rgba(
   $color: $color--dark,
   $alpha: 0.4,
);
