.change-theme-button{
    z-index: 2;
    position: fixed;
    right: 0;
    top: 48%;
    display: flex;
    &-show{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 30px;
        clip-path: circle(65% at 100% 50%);
        background: $color--blue;
        cursor: pointer;
    }
}
.change-theme-button-content{
    width: 0px;
    height: 56px;
    display: flex;
    align-items: center;
    background: $color--blue;
    transition: width 0.5s;
    .change-theme-button-content-item{
        display: flex;
        align-items: center;
        padding: 14px 14px;
        height: 56px;
        border-left: 1px solid $color--light;
        cursor: pointer;
    }
    .change-theme-button-content-item.active{
        background: $color--blue1;
    }
}
.change-theme-button-content.active{
    width: 103.6px;
    transition: width 0.5s;
}