.create-post-content{
    width: 73%;
    .create-post-content-item{
        position: relative;
        padding: 32px 0px;
        border-bottom: 1px solid $color--border1;
        display: flex;
        width: 85%;
        .create-post-content-left{
            width: 20%;
        }
        .create-post-content-right{
            display: flex;
            justify-content: left;
            width: 100%;
        }
        .delete-item{
            top: 80px;
            right: -48px;
            position: absolute;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .create-post-content-item.thumbnail{
        display: flex;
        justify-content: center;
        span{
            width: 500px !important;
        }
    }
    .create-post-content-item.add-content{
        display: flex;
        justify-content: center;
        align-items:center;
        height: 56px;
        border: 1px dashed #CCCCCC;
        border-radius: 5px;
        margin-top: 16px;
    }
    .create-post-content-item.item{
        flex-direction: column;
        .create-post-content-title{
            margin-bottom: 16px;
        }
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.create-post-memu{
    width: 27%;
    background: $color--background;
    padding: 16px;
    &-title{
        font-family: $font-bold, sans-serif;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid $color--text1;
        @include font-18;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        background: none;
        padding: 0;
    }
}
.create-post-container{
    display: flex;
}
.create-post-memu-item{
    cursor: pointer;
    .memu-item-icon{
        &-wrapper{
            padding: 16px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            background: $color--light;
            p{
                margin: 0px;
                margin-top: 10px;
            }
        }
    }    
}
.vote-item{
    height: 80px;
    display: flex;
    align-items: center;
}
.create-post-content-button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    border: 1px solid $color--blue;
    border-radius: 3px;
    margin-left: 24px;
    cursor: pointer;
    svg{
        margin-right: 4px;
    }
    p{
        margin-bottom: 0px;
        margin-top: 2px;
    }
    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}
.save-draft{
    p{
        color: $color--blue;
    }
}
.save-article{
    background: $color--blue;
    p{
        color: $color--light;
    }
}
.create-post-content-list-button{
    margin-top: 64px;
    width: 85%;
    display: flex;
    justify-content: right;
    align-items: center;
    @media screen and (max-width: 768px) {
        width: 100%;
        display: block;
    }
}
.add-content-description{
    width: 85%;
    font-family: $font-regular, sans-serif;
    @include font-14;
    display: flex;
    justify-content: center;
    color: $color--text1;
    margin-top: 15px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.video-upload{
    display: flex;
    justify-content: center;
    video{
        height: 500px;
    }
}
.ck-editor__editable {
    min-height:300px;
    height: 300px;
}
.ck-source-editing-area{
    max-height:300px;
    height: 300px !important;
    textarea{
        max-height:300px;
        height: 300px !important;
        overflow-y: scroll !important;
    }
}
.ck-markdown-content{
    img{
        width: 100%;
    }
}
.editor-buttons{
    display: flex;
    .button{
        cursor: pointer;
        padding: 10px;
        height: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid $color--border;
        display: flex;
        align-items: center;
    }
}

.editor-code-block{
    position: relative;
    pre code {
        overflow: auto;
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
    }
    .copy-button{
        position: absolute;
        background-color: $color--light;
        top: 1px;
        right: 10px;
        padding: 3px;
        border-radius: 10px;
        cursor: pointer;
    }
}
.loadding-screen{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: white;
    opacity: 0.2;
}
.loadding-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-wrapper{
    button{
        width: 100%;
    }
}