.footer-container{
    display: flex;
    justify-content: center;
    height: 88px;
    background: $color--background;
    padding-top: 24px;
    margin-top: 56px;
    .footer-item{
        margin-right: 40px;
    }
}