.header-container{
    display: flex;
    padding: 20px 18px;
    justify-content: space-between;
    height: 72px;
    .header-logo{
        display: flex;
    }
    .header-search{
        margin-left: 16px;
        .ant-input-affix-wrapper{
            background-color: $color--background;
            height: 37px;
            width: 400px;
            border: none;
            input{
                background-color: $color--background;
            }
            .ant-input-prefix{
                padding: 0px 8px;
            }
            
        }
    }
    .header-profile{
        display: flex;
        align-items: center;
        .header-button{
            cursor: pointer;
            color: $color--text2;
            @include font-14;
            height: 20px;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 8px;
            }
        }
        .header-login{
            border-right: 1px solid $color--border;
        }
        .header-create-post{
            background: $color--blue;
            height: 40px;
            border-radius: 3px;
            margin-left: 16px;
            color: $color--light;
            @include font-14;
        }
    }
}
