.header-container{
    display: flex;
    padding: 20px 18px;
    .header-logo{
        display: flex;
    }
    .header-search{
        margin-left: 32px;
        .ant-input-affix-wrapper{
            .ant-input-prefix{
                padding: 0px 8px;
            }
            height: 37px;
            width: 400px
        }
    }
}
