.hot-comment-content{
    display: flex;
    text-align: justify;
    @include font-14;
    svg{
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}
.hot-comment-reply{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    @include font-14;
    span{
        color: $color--text4;
        font-family: $font-italic,  sans-serif;
    }
}
.hot-comment{
    padding: 16px 0px;
    border-bottom: 1px solid $color--border1;
}