.list-post-header {
  display: flex;
  span {
    @include font-15;
  }
  svg {
    margin-right: 4px;
  }
}
.list-post-content-header {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color--text1;

  p {
    @include font-20;
    font-family: $font-medium, sans-serif;
    margin-bottom: 18px;
  }
  .list-post-sort {
    svg {
      margin-left: 24px;
    }
  }
}

.list-post-content-body {
  li {
    list-style-type: disc;
    margin-left: 16px;
  }
}
.post-card-horizontal-container {
  display: flex;
  padding: 18px 0px;
  border-bottom: 1px solid $color--border1;
  .post-card-horizontal-image {
    cursor: pointer;
    width: 75%;
    margin-right: 24px;
  }
  .post-card-horizontal-content {
    cursor: pointer;
    position: relative;
    width: 175%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .post-card-horizontal-footer {
    display: flex;
    .post-author-profile {
      padding-right: 17px;
      border-right: 1px solid $color--border1;
      @media screen and (max-width: 768px) {
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .post-interactive {
    display: flex;
    align-items: center;
    span {
      display: flex;
      padding-left: 16px;
      svg {
        margin-left: 8px;
      }
      @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 16px;
      }
    }
  }
}
.post-card-horizontal-title {
  text-align: justify;
}
.list-post-footer {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 56px;
  button {
    width: 168px;
    height: 40px;
    color: $color--blue !important;
    border-color: $color--blue !important;
  }
}
.list-post-content {
  .ant-list {
    margin-top: 18px;
  }
}
.list-post-sort {
  display: flex;
  justify-content: end;
  svg {
    cursor: pointer;
  }
}
.post-more {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.post-card-image {
  cursor: pointer;
}
.post-author {
  cursor: pointer;
}
.post-title {
  cursor: pointer;
}
