.navbar-container{
    display: flex;
    justify-content: center;
    position: relative;
    background: $color-primary;
    color: $color--light;
    .navbar-title{
        cursor: pointer;
        padding: 10px 16px;
    }
    .navbar-title:hover {
        background: $color--active;
    }
    .navbar-title.active{
        background: $color--active;
    }
    .dropdown-navbar{
        display: none;
        // position: absolute;
    }
    .dropdown-navbar.show{
        display: flex;
        position: absolute;
        // justify-content: end;
        z-index: 30;
        margin-top: 42px;
        background-color: $color--blue;
        transform: translateX(310%);
        .ant-menu{
            background-color: $color--blue;
            border: none;
            .ant-menu-title-content{
                color: $color--light;
            }
        }
    }
    .header-button {
        @media screen and (min-width: 768px) {
            display: none;
        }
        @media screen and (max-width: 768px) {
            display: inline-flex;
            // justify-content: end;
        }
    }
    .header-login {
        border-right: 1px solid $color--border;
        padding-right: 16px;
        .icon-signin-mobile {
            margin-right: 8px;
        }
      }
    
    .header-register {
        margin-left: 8px;
        .icon-signup-mobile {
            margin-right: 8px;
        }
    }
    .header-logout {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.navbar-container-mobile{
    display: block;
    justify-content: center;
    position: fixed;
    background: linear-gradient(90deg, #234b86, #017389);
    color: #ffffff;
    top: 0;
    width: 80vw;
    z-index: 100;
    padding: 50px;
    height: 100vh;
    transition: 0.5s;
    // transform: translateX(-100%);
    .icon-close-menu-mobile {
        justify-content: end;
        font-size: large;
        margin-bottom: 24px;
    }
    .navbar-title.active {
        color: $color--yellow;
        background: none
    }
    .menu-mobile-footer {
        margin-bottom: 28px;
    }
}

.dropdown-navbar-item{
    margin: 16px;
    .dropdown-navbar-item-title{
        padding-top: 16px;
        @include font-18;
        p{
            color: $color--light;
        }
    }
    .dropdown-navbar-item-content{
        p{
            color: $color--light;
        }
        p:hover {
            color: $color--yellow;
        }
    }
}