.medium-container{
    // margin: 0px 16px;
    padding: 0px 20px;
    .profile-user-info{
        position: relative;
        background: $color--background;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        margin-bottom: 56px;
        &-avatar{
            margin-bottom: 24px;
        }
        p{
            margin: 0px;
        }
        .profile-user-contact{
            display: flex;
            &-item{
                margin-right: 34px;
                margin-bottom: 34px;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
            @media screen and (max-width: 768px) {
                display: block;
                align-items:initial;
            }
        }
        .profile-user-post{
            display: flex;
            &-item{
                padding: 0px 24px;
                border-left: 1px solid $color--border1;
                @media screen and (max-width: 768px) {
                    padding: 0px;
                    border: none;
                    margin-bottom: 4px;
                }
            }
            &-item.first{
                border: none;
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.profile-user-content{
    display: flex;
    .profile-menu{
        width: 20%;
        margin-right: 18px;
        .ant-menu{
            background: $color--background;
            &-item-selected{
                background: $color--active1;
                color: $color--dark;
            }
            &-item-active{
                background: $color--active1;
                color: $color--dark;
            }
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .dashboard-detail {
        background-color: $color--background;
        padding: 24px;
        height: fit-content;
    }
    .profile-list-post {
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.sidebar-item {
    .sidebar-title {
        margin-bottom: 16px;
        font-family: $font-medium, sans-serif;
        // .sidebar-content {
        //     a .plain {
        //         margin-bottom: 16px;
        //         color: $color--text2;
        //     }
        // }
    }
}
.plain{
    padding: 10px 16px;
    cursor: pointer;
}
.plain.active{
    background: $color--border;
}
.profile-user-button{
    position: absolute;
    top: 0px;
    right: 0px;
}