.topic-container{
    .topic-header{
        display: flex;
        position: relative;
    }
    .topic-title{
        background: $color-primary;
        height: 40px;
        max-width: max-content;
        padding: 10px 16px;
        padding-right: 32px;
        margin-bottom: 24px;
        border-left: 16px;
        p{
            color: $color--light;
        }
    }
    .topic-arrow-top{
        width: 0; 
        height: 0; 
        border-top: 20px solid $color--light; 
        border-left: 16px solid transparent; 
        margin-left: -16px;
    }
    .topic-arrow-bottom{
        width: 0; 
        height: 0; 
        border-bottom: 20px solid $color--light; 
        border-left: 16px solid transparent; 
        margin-left: -16px;
        margin-top: 20px;
    }
    .topic-see-more{
        position: absolute;
        right: 0px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg{
            margin-left: 8px;
        }
        @media screen and (max-width: 768px) {
            .icon-next-mobile {
                display: none;
            }
        }
    }
}
.topic-content{
    display: flex;
    .post-card-container{
        width: 30%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.post-card-container.right{
    margin-right: 0px;
}
.post-card-container{
    
    margin-right: 20px;
    margin-bottom: 68px;
    .post-author{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include font-15;
        .post-time{
            display: flex;
            align-items: center;
            svg{
                margin-right: 4px;
            }
        }
    }

    .post-duration{
        color: $color--text1;
        @include font-15;
    }

}
.post-author-profile{
    display: flex;
    align-items: center;
    color: $color--text2;
}
.post-author-avatar{
    height: 24px;
    margin-right: 8px;
}
.interactive{
    height: 40px;
}
