.upload-video-wrapper{
    margin-top: 24px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $color--background;
    .upload-video-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ant-upload{
    width: 100%;
}
.modal-upload{
    .video-wrapper{
        position: relative;
        background-color: $color--background;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        video{
            height: 300px;
        }
        .video-button{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
    .modal-chart-button-wrapper{
        margin-top: 16px;
    }
}